.description {
    text-align: center;
}

.row {
    margin-top: 20px;
    text-align: center;
}

#local_video {
    object-fit: initial;
    width: 320px; 
    height: 500px; 
    border: 1px solid black;
}

#remote_video {
    object-fit: initial;
    width: 320px; 
    height: 500px; 
    border: 1px solid black;
}

#chat_messages {
    width: 320px; 
    height: 500px; 
    border: 1px solid black;
    resize: none;
    overflow-y: auto;
}

.chat_messages_input {
    width: 100%;
    height: 80px;
}

#sendBtn {
    width: 100%;
}